#SlideMenu1 {
    border: 1px solid #019ADD;
    border-bottom-width: 0;
    width: 263px;
    font-family: Arial, Helvetica, sans-serif;
}

#SlideMenu1 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    /*font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;*/

}

#SlideMenu1 li a{

    display: block;
    height:20px;
    padding: 3px 0;
    padding-left: 9px;
	padding-right: 9px;

    width: 260px; /*185px minus all left/right paddings and margins*/
    text-decoration: none;
    color: #D5DD80;
    background-color: #019ADD;
    border-bottom: 1px solid #FFFFFF;
    border-left: 7px solid #FFFFFF;
	border-right: 7px solid #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}



#SlideMenu1 li a:hover {
    background-color:#D5DD80;
    border-left-color: #64d1;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:underline;
    border-bottom: 2px  solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

#SlideMenu1 div.menutitle{
    color: #019ADD;
    border-bottom: 1px solid white;
    padding: 1px 0;
    padding-left: 7px;
	padding-right: 7px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    /*font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;*/
}
a:link {
    color: #936C12;
    font-weight : bold;

}

a:visited {
    color: #936C12;
    text-decoration: underline;
    font-weight : bold;
}

a:hover {
    color: #D22929;
    text-decoration: none;
}

